<% if (messages.message) { %>
    
    <div class="container mb-3">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="bg-danger text-white p-2 px-3" style="border-radius: 10px">
          <%= messages.message %>
        </div>
      </div>
    </div>
    
<% } %>